<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>controller.changePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>findAccount</servlet-name>
        <servlet-class>controller.findAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPassword</servlet-name>
        <servlet-class>controller.forgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPassword</servlet-name>
        <servlet-class>controller.resetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verify</servlet-name>
        <servlet-class>controller.Verify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResendCode</servlet-name>
        <servlet-class>controller.ResendCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>controller.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SliderServlet</servlet-name>
        <servlet-class>controller.SliderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubjectServlet</servlet-name>
        <servlet-class>controller.SubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Homepage</servlet-name>
        <servlet-class>controller.Homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogList</servlet-name>
        <servlet-class>controller.BlogList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blogDetail</servlet-name>
        <servlet-class>controller.blogDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>authorInformation</servlet-name>
        <servlet-class>controller.authorInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myRegistration</servlet-name>
        <servlet-class>controller.myRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myCourse</servlet-name>
        <servlet-class>controller.myCourse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>findAccount</servlet-name>
        <url-pattern>/findAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPassword</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPassword</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verify</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResendCode</servlet-name>
        <url-pattern>/resendCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/updateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SliderServlet</servlet-name>
        <url-pattern>/SliderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubjectServlet</servlet-name>
        <url-pattern>/SubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/Homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogList</servlet-name>
        <url-pattern>/blogs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blogDetail</servlet-name>
        <url-pattern>/blogDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>authorInformation</servlet-name>
        <url-pattern>/authorInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myRegistration</servlet-name>
        <url-pattern>/myRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myCourse</servlet-name>
        <url-pattern>/myCourse</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Homepage</welcome-file>
    </welcome-file-list>
</web-app>
