body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}
.title {
    font-size: 24px;
    margin-bottom: 0px;
    color: #333;
}
.title p{
    margin:0;
    font-size: 35px;
    font-weight: 1000;
}
label {
    display: block;
    margin-bottom: 10px;
    color: black;
}

.center-self {
    margin-bottom: 20px;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-forgot {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

.cancel-button {
    background-color: #f44336;
    color: white;
}

button:hover {
    opacity: 0.8;
}

.error-message-1 {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #f5c6cb;
}

@media (max-width: 400px) {
    .button-forgot {
        flex-direction: column;
    }

    .button-forgot button {
        width: 100%;
        margin-bottom: 10px;
    }

    .button-forgot button:last-child {
        margin-bottom: 0;
    }
}