/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 16, 2024, 1:37:32 PM
    Author     : sonna
*/
:root {
    --white-color:                  #FFFFFF;
    --primary-color:                #f44749;
    --secondary-color:              #f3af24;
    --dark-color:                   #000000;
    --p-color:                      #717275;

    --body-font-family:             'Montserrat', sans-serif;


    --p-font-size:                  18px;
    --menu-font-size:               18px;

    --font-weight-normal:           400;
    --font-weight-semibold:         600;
    --font-weight-bold:             700;
}

body {
    background: var(--white-color);
    font-family: var(--body-font-family);
    position: relative;
}

a,
button {
    touch-action: manipulation;
    transition: all 0.3s;
}

.form-label {
    color: var(--p-color);
    font-weight: var(--font-weight-semibold);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
}

::selection {
    background: var(--primary-color);
    color: var(--white-color);
}

::-moz-selection {
    background: var(--primary-color);
    color: var(--white-color);
}

.section-padding {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

b,
strong {
    font-weight: var(--font-weight-bold);
}

/*---------------------------------------
  Header              
-----------------------------------------*/
.navbar {
    background: var(--white-color);
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-brand {
    color: var(--dark-color);
    font-size: var(--h5-font-size);
    font-weight: var(--font-weight-bold);
    margin-right: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.navbar-expand-lg .nav-link {
    color: var(--p-color);
    font-weight: var(--font-weight-normal);
    font-size: var(--menu-font-size);
    padding-top: 15px;
    padding-bottom: 15px;
}

