body.role {
    background-color: #FFFDD0; 
    color: #333;
    padding: 20px;
}


.page-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #007bff; 
}

.message {
    font-size: 16px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #d4edda; 
    color: red; 
    border: 1px solid #c3e6cb; 
    border-radius: 5px;
}

.add-role-form {
    display: flex;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ced4da; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
    margin-left: 50px;
}

.input-groups {
    display: flex;
    flex-direction: column; 
    margin-bottom: 15px;
    margin-top: 10px; 
    margin-right: 150px; 
}

.form-label {
    margin-bottom: 5px; 
    font-weight: bold; 
}


.form-control, .form-select {
    width: 100%; 
    margin-bottom: 10px;
}

.btn {
    margin-top: 10px;
}

.list-title {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse; 
}

.table th {
    background-color: 	#E0B0FF;
    color: green; 
}

.table td {
    padding: 10px; 
    border: 1px solid #008000; 
}


input[type="checkbox"] {
    transform: scale(1.5); 
    margin: 0; 
}

.btn-primarys {
    background-color: #FF4500; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; 
    height: 40px;
}
b.btn-2 {
    background-color: paleturquoise;           
    color: white;                     
    padding: 10px 20px;                
    font-size: 16px;                   
    font-weight: bold;                 
    border: none;                     
    border-radius: 5px;               
    cursor: pointer;                 
    transition: background-color 0.3s, transform 0.2s; 
}

.btn-2:hover {
    background-color: #006400;        
    transform: translateY(-2px);       
}

.btn-2:active {
    background-color: #004d00;        
    transform: scale(0.98);          
}

.btn-primarys:hover {
    background-color: #0056b3; 
    transform: translateY(-2px); 
}


.btn-primarys:active {
    background-color: #004085; 
    transform: translateY(0); 
}
.update-role-form {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}
h1 {
    font-size: 2.5em;         
    color: #333;               
   
    text-align: center;        
    margin-top: 20px;          
    margin-bottom: 20px;       
    letter-spacing: 1px;      
   
}
